"use client";
{% raw %}
import { ChatWidget } from "@/components/iblai/chat-widget";
import { config } from "@/lib/config";

export default function Home() {
  return (
    <ChatWidget
      mentorId={config.defaultAgentId()}
      width="100vw"
      height="100vh"
    />
  );
}
{% endraw %}
